*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    max-width: 350px;
    min-height: 497px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    max-width: 288px;
    max-height: 288px;
    border-radius: 20px;
    margin: 0 auto;

}
.title {
    color: hsl(218, 44%, 22%);
    margin: ;
    font-size: ;
    font-weight: 700;
}

.text {
    color: hsl(220, 15%, 55%);
    font-size: ;
    font-weight: 400;
    margin:;
}