*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;    
    
   

}

.card {
    max-width: 350px;
    min-height: 497px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    
    
}

.qr-img {
    max-width: 288px;
    max-height: 288px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 16px;
    

}
.title {
    color: hsl(218, 44%, 22%);
    margin: 30px 35px 0 35px;
    font-size: 10px;
    font-weight: 700;
}

.text {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 21px 35px 40px 35px;
}